[Unit]
Description=OpenRMBT UDP Ping Server
After=network.target

[Service]
ExecStart=/opt/open-rmbt-udp-ping/rust-server/target/release/udp_server
Restart=always
User=nobody
Group=nogroup
Environment=RUST_LOG=info

[Install]
WantedBy=multi-user.target
